/* Estilos para h1 */
h1 {
  font-size: 70px;
  font-family: Fraktur;
  font-weight: bold;
  font-style: italic;
}

/* Estilos compartidos para .mira, .azul, .rojo y .verde */
.mira, .azul, .rojo, .verde {
  color: #fdfdfd;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Fraktur;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 8px 4px;
  padding: 40px;
}

/* Estilos específicos para .mira */
.mira {
  background-color: #00389f;
}

/* Estilos específicos para .azul */
.azul {
  background-color: #0b5ed7;
}

/* Estilos específicos para .rojo */
.rojo {
  background-color: #dc3545;
}

/* Estilos específicos para .verde */
.verde {
  background-color: #198754;
}
