body{
  background-color: whitesmoke;
}

.header{
  height: 30vh;
}

button{
  width: 250px;
}


.container-mira{
  height: 100vh;
}

.card-mira{
  background-color: white;
  border-radius: 15px;
  padding:10px 10px;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.yellow{
  background-color: green;
}




