<div class="form">
  <div class="container">
    <!-- ******** PRIMER FORMULARIO ************* -->

    <form (ngSubmit)="onSubmitUse()" [formGroup]="formUse">
      <div class="row">
        <div class="my-2 col-12 text-center">
          <h2>Reportar:</h2>
          <div
            class="btn-group"
            role="group2"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              id="btnradio4"
              autocomplete="off"
              [value]="'SI'"
              formControlName="vehiculoUso"
              name="vehiculoUso"
            />
            <label class="btn btn-outline-danger" for="btnradio4"
              >Vehículo en uso</label
            >

            <input
              type="radio"
              class="btn-check"
              id="btnradio5"
              autocomplete="off"
              checked
              [value]="'NO'"
              formControlName="vehiculoUso"
              name="vehiculoUso"
            />
            <label class="btn btn-outline-primary" for="btnradio5"
              >Solicitud vehículo</label
            >
          </div>
        </div>
        <div
          *ngIf="formUse.get('vehiculoUso')?.value === 'SI'"
          class="col-sm-6"
          class="row mx-0"
        >
          <div>
            <label for="exampleFormControlInput1" class="mt-5 text-center">
              ¿Nombre del conductor?
            </label>
            <select class="form-select" formControlName="nameDriver">
              <option value="MOTO">Juan Miguel Piedrahita</option>
              <option value="CARRO">Alexander Castañeda</option>
            </select>
          </div>
        </div>
      </div>

      <div *ngIf="formUse.get('vehiculoUso')?.value !== 'NO'" class="row">
        <div class="my-5 d-flex justify-content-center">
          <button
            type="button"
            routerLink="../"
            class="mx-4 rounded-5 btn-lg btn-warning"
          >
            <strong>Volver</strong>
          </button>
          <button
            type="submit"
            (onClick)="onSubmit()"
            [disabled]="form.invalid"
            [ngClass]="{ 'disabled-button': form.invalid }"
            class="mx-4 rounded-5 btn-lg btn-primary"
          >
            Enviar
          </button>
        </div>
      </div>
    </form>

    <!-- Segundo Formulario -->

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div *ngIf="formUse.get('vehiculoUso')?.value === 'NO'">
        <div class="row">
          <div class="col-xs-12 my-4 text-center">
            <p>¿En qué ciudad vota la persona?</p>
            <div
              class="btn-group"
              role="group1"
              aria-label="Basic radio toggle button group"
            >
              <input
                type="radio"
                class="btn-check"
                id="btnradio1"
                autocomplete="off"
                checked
                [value]="'Dosquebradas'"
                formControlName="ciudad"
                name="ciudad"
              />
              <label class="btn btn-outline-primary" for="btnradio1"
                >Dosquebradas</label
              >

              <input
                type="radio"
                class="btn-check"
                id="btnradio2"
                autocomplete="off"
                [value]="'Pereira'"
                formControlName="ciudad"
                name="ciudad"
              />
              <label class="btn btn-outline-warning" for="btnradio2"
                >Pereira</label
              >

              <input
                type="radio"
                class="btn-check"
                id="btnradio3"
                autocomplete="off"
                [value]="'Santa Rosa'"
                formControlName="ciudad"
                name="ciudad"
              />
              <label class="btn btn-outline-danger" for="btnradio3"
                >St Rosa</label
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <p>Tipo de vehiculo</p>
            <div
              class="btn-group"
              role="group4"
              aria-label="Basic radio toggle button group"
            >
              <input
                type="radio"
                class="btn-check"
                id="btnradio8"
                autocomplete="off"
                [value]="'CARRO'"
                formControlName="tipoVehiculo"
                name="tipoVehiculo"
              />
              <label class="btn btn-outline-danger" for="btnradio8"
                >CARRO</label
              >

              <input
                type="radio"
                class="btn-check"
                id="btnradio9"
                autocomplete="off"
                checked
                [value]="'MOTO'"
                formControlName="tipoVehiculo"
                name="tipoVehiculo"
              />
              <label class="btn btn-outline-primary" for="btnradio9"
                >MOTO</label
              >
            </div>
            <div
              *ngIf="form.get('tipoVehiculo')?.value === 'CARRO'"
              class="row"
            >
              <div class="my-2 col-12">
                <div
                  class="btn-group"
                  role="group5"
                  aria-label="Basic radio toggle button group"
                >
                  <input
                    checked
                    type="radio"
                    class="btn-check"
                    id="btnradio10"
                    autocomplete="off"
                    [value]="'1'"
                    formControlName="cupos"
                    name="cupos"
                  />
                  <label class="btn btn-outline-primary" for="btnradio10"
                    >1</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    id="btnradio11"
                    autocomplete="off"
                    [value]="'2'"
                    formControlName="cupos"
                    name="cupos"
                  />
                  <label class="btn btn-outline-primary" for="btnradio11"
                    >2</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    id="btnradio12"
                    autocomplete="off"
                    [value]="'3'"
                    formControlName="cupos"
                    name="cupos"
                  />
                  <label class="btn btn-outline-primary" for="btnradio12"
                    >3</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    id="btnradio13"
                    autocomplete="off"
                    [value]="'4'"
                    formControlName="cupos"
                    name="cupos"
                  />
                  <label class="btn btn-outline-primary" for="btnradio13"
                    >4</label
                  >
                </div>
                <p>Número de cupos</p>
              </div>
            </div>
          </div>
        </div>











      </div>
    </form>
  </div>
</div>
