.azul {
  color: #fdfdfd;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Fraktur;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #0b5ed7;
  margin: 8px 4px;
  padding: 40px;
}

.rojo {
  color: #fdfdfd;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Fraktur;
  margin: 8px 4px;
  padding: 40px;
  background-color: #dc3545;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.verde {
  color: #fdfdfd;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #198754;
  margin: 8px 4px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Fraktur;

}

h1 {
  font-size: 70px;
  font-family: Fraktur;
  font-weight: bold;
  font-style: italic;
}
