body{
  background-color: whitesmoke;
}

.header{
  height: 30vh;
}

button{
  width: 250px;
}

button:active {
  transform: scale(0.90); /* Escala del botón al ser presionado */
}




.container-mira{
  height: 100vh;
  padding: 5px 10px;
}

.card-mira{
  background-color: white;
  border-radius: 15px;
  padding: 10px 10px;

}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.yellow{
  background-color: green;
}


/* Definimos la animación de crecimiento */
@keyframes grow {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

/* Aplicamos la animación a la clase .grow-element */
.grow-element {
  animation: grow 0.5s ease-in-out; /* Duración y función de tiempo de la animación */
}

