  <app-header>

    <div class="card-mira mx-2">
      <h2 class="text-center">Selecciona el Call Center:</h2>

      <div class="btns d-flex align-items-center">
        <button type="button" routerLink="popa" class="rounded-5 shadow-lg m-4 btn-lg btn-primary">
          La Popa
        </button>
        <button type="button" routerLink="guadalupe" class="rounded-5 shadow-lg m-4 btn-lg btn-danger">
          Guadalupe
        </button>
        <button type="button" routerLink="alameda" class="rounded-5 shadow-lg m-4 btn-lg btn-success">
          La Alameda
        </button>
        <button type="button"  routerLink="casas-de-apoyo" class="rounded-5 shadow-lg m-4 btn-lg btn-Light">
          Casas de apoyo
        </button>
      </div>
    </div>
  </app-header>


