.container{
  height: 100vh;

}
.header{
  height: 30vh;
}

button{
  min-width: 200px;
  color: black;
  font-weight: bold;
}

.form{
  border-radius: 15px;
  background-color: white;
  margin-bottom: 10px;
}


