.card-mira {
  height: 70vh;
}

.btns {
  display: flex;
  flex-direction: column;
  height: 85%;
  /* align-items: center; */

}


/* Para pantallas mayores a 767px */
@media (min-width: 768px) {
  .card-mira {
    height: 60vh;
  }

  .btns {
    height: 70%;
    display: flex;
    flex-direction: row;
  }
}
