<div class="container-mira p-2">
  <app-header> </app-header>

  <div class="card-mira shadow">
    <h2 class="text-center">Selecciona el Call Center:</h2>

    <div class="btns d-flex justify-content-center align-items-center">
      <button type="button" class="shadow-lg m-5 btn btn-primary">
        La POPA
      </button>
      <button type="button" class="shadow-lg m-5 btn btn-warning">
        Guadalupe
      </button>
      <button type="button" class="shadow-lg m-5 btn btn-success">
        Alameda
      </button>
      <button type="button" class="shadow-lg m-5 btn btn-link">
        Libreta de Télefonos
      </button>
    </div>
  </div>
</div>
